<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/angular.min.js"></script>
	<script src="js/shopping.js"></script>
</head>
<style>
	.out{
		width:900px;
		height:600px;
		margin:0 auto;
		border:1px solid purple;
	}
	.out .goods{
		float: left;
	}
	.out .shopcar{
		float: right;
	}
	.out table{
		border:1px solid orange;
		border-collapse: collapse;
    	border-spacing: 0px;
    	border-bottom:0;
    	border-right:0;
	}
	.out table th,.out table td{
		border-bottom:1px solid orange;
    	border-right:1px solid orange;
    	padding:5px 10px;
    	text-align: center;
	}
</style>
<body>
	<div class="out" ng-controller="o">
		<table class="goods">
			<tr>
				<th>编号</th>
				<th>商品</th>
				<th>单价</th>
				<th>是否购买</th>
			</tr>
			<tr>
				<td>搜索</td>
				<td colspan="3">
					<input type="text" ng-model="w">
				</td>
			</tr>
			<tr ng-repeat="v in goods|filter:w">
				<td>{{$index+1}}</td>
				<td>{{v.name}}</td>
				<td>{{v.price|currency:"￥"}}</td>
				<td><button ng-click="buyBtn($index)">购买</button></td>
			</tr>
		</table>
		<table class="shopcar">
			<tr>
				<th>编号</th>
				<th>商品</th>
				<th ng-click="order('price')">单价</th>
				<th ng-click="order('num')">数量</th>
				<th ng-click="order('sum')">价格</th>
				<th>是否删除</th>
			</tr>
			<tr ng-repeat="v in buy|orderBy:key:fg"> 
				<td>{{$index+1}}</td>
				<td>{{v.name}}</td>
				<td>{{v.price}}</td>
				<td>
					<button ng-click="reduceBtn(v.name)">-</button>
					<input type="text" ng-model="v.num">
					<button ng-click="addBtn(v.name)">+</button>
				</td>
				<td>{{v.price*v.num}}</td>
				<td><button ng-click="del(v.name)">del</button></td>
			</tr>
			<tr>
				<td>合计</td>
				<td colspan="5">{{sum()|currency:"￥"}}</td>
			</tr>
		</table>
	</div>
</body>
</html>